@charset "utf-8";

nav {
    text-align: center;
    text-transform: uppercase;
    padding: 5%;
    word-spacing: 0.75em;
    border-top: 1px solid goldenrod;
    border-bottom: 1px solid goldenrod;
}

body {
    margin: 5% 10%;
    font-family: 'Libre Caslon Display', serif;
    background: url(papertexture.jpg);
}

a:link, a:visited { color: black }
a:focus, a:hover, a:active { color: goldenrod;}

a {
    text-decoration: none;  
}

h1 {
    text-align: center;
    text-transform: uppercase;
    word-spacing: 0.5em;
    letter-spacing: 2px;
    padding-top: 45px;
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: medium;
    word-spacing: 0.5em;
    letter-spacing: 2px;
    padding-bottom: 25px;
}
h3 {
    font-weight: lighter;
    word-spacing: 0.5em;
    line-height: 3em;
}

p {
    line-height: 1.75em;
    letter-spacing: 1px;
    text-indent: 15px;
    text-align: justify;
}

footer {
    margin-top: 5em;
}

#ch4img1 {
    float: left;
    padding: 0.75em;
}

#ch4img2 {
    float: right;
    padding: 0.75em;
}

#ch4img3 {
    float: left;
    padding: 0.75em;
}

#ch4img4 {
    float: right;
    padding: 0.75em;
}

#ch5img1 {
    float: left;
    padding: .75em; 
}

#ch5img2 {
    float: left;
    padding: .75em;
}

#ch5img3 {
    float: right;
    padding: 0.75em;
    margin-right: 35%;
}

#ch5img4 {
    float: left;
    padding: 0.75em;
}

#ch5img5 {
    float: right;
    padding-left: 0.75em;
    margin-right: 35%;  
}

#ch6img1 {
    float: left;
    padding: .75em;
}

#ch6img2 {
    float: right;
    padding: 0.75em;  
}

#ch6img3 {
    float: left;
    padding: .75em;
}

#ch6img4 {
    float: left;
    padding: 0.75em;
}

#ch6img5 {
    float: right;
    padding: 0.75em;
}