@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

#top {
    background-image: url(images/sunset.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 25vh;
}

.navbar {
    width: 100%;
    padding: 45px 0 45px 0;
    text-align: right;
}

.navbar a {
    color: white;
    padding: 10px 25px;
    text-decoration: none;
    border: 1px solid white;
    margin-right: 45px;
    font-family: 'Julius Sans One', sans-serif;
}

.navbar a:hover {
    border: 2px solid #EDBB99;
    color: #EDBB99;
    font-weight: bold;
}

h1 {
    padding: 45px;
    text-align: center;
    letter-spacing: 1em;
    line-height: 65px;
    font-family: 'Crushed', cursive;
}

h2 {
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Julius Sans One', sans-serif;
    padding: 35px;
    letter-spacing: 0.2em;
    background-color: #FAEBD7;
    border-top-right-radius: 50px;
    border-left: 5px solid #EDBB99;
    border-bottom: 1px solid #EDBB99;
}

.mainP {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 1.25em;
    line-height: 35px;
    margin-left: 15%;
    margin-right: 15%;
    padding: 35px;
    text-align: center;
}

table {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 45px;
    padding-top: 35px;
    display: flex;
}

td {
    background-color:#EDBB99;
    text-align: center;
    padding: 10px;
    width: 215px;
}

h4 {
    color: black;
    padding: 10px;
    font-family: 'Julius Sans One', sans-serif;
}

table p {
    display: block;
    padding: 5px 20px 15px 20px ;
    color: black;
    font-family: 'Darker Grotesque', sans-serif;
}

table img:hover {
    border: 3px solid #FAEBD7;
}

td a:hover {
    filter: opacity(75%);
}